// --- BASE  ---
*, *::after, *::before {
    padding: 0;
    margin:  0;
    box-sizing: border-box;
    font-family: $font-poppins;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: map-get($colors, 'bg-color');
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: all .5s ease-in-out;
    @include media(mobileS) {
        .restart {
            display: none;
        }
        .restart-mobile {
            display: none;
        }
        .restart-mobile-S {
            display: block;
        }
    }
}

main {
    width: 992px;
    margin: 0 auto;
    background-color: map-get($colors, 'white');
    transition: all .5s ease-in-out;
    @include media(mobileXL) {
        width: 375px;
        margin: 0 auto;
    }
    @include media(mobileX) {
        width: 315px;
        margin: 0 auto;
    }
    @include media(mobileS) {
        width: 295px;
        margin: 0 auto;
    }
}

// --- SCROLL BAR ---
body::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-appearance: none;
    transition: all 1s ease-in-out;
} 
body::-webkit-scrollbar:vertical {
    width: 12px;
}
body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
    display: none;
} 
body::-webkit-scrollbar:horizontal {
    height: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: map-get($colors, '3');
    border-radius:  map-get($spacing, '4');
    border: 2px solid rgba(148, 163, 184, 0.5);
    transition: all 1s ease-in-out;
}
body::-webkit-scrollbar-track {
    border-radius:  map-get($spacing, '4');  
}