// MIXIN RESPONSIVE DESIGN
$breakpoints: (
    mobileS : 320px,
    mobileX : 360px,
    mobileXL : 480px
);

@mixin media($breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
        
        .restart {
            display: none;
        }
        .restart-mobile {
            display: block;
        }
        .hide-mobile {
            display: none
        }
    }
};