// COLOR PALETTES
$colors: (
    'bg-color': #EBEFF4,
    'bg-dark': #0D1117,
    '1': #94A3B8,
    '2': #5956E9,
    '3': #1E293B,
    '4': #F6F6F7,
    '5': #FFB57F,
    '6': #78C552,
    '7': #EFF8EA,
    '8': #6E7681,
    '9': #272D33,
    '10': #161A20,
    '11': #282C31,
    '12': #FFF6EF,
    '13': #E4E4FC,
    '14': #131728,
    'black': #000000,
    'white': #FFFFFF,
);

// SPACING
$spacing: (
  '1': 4px,
  '2': 8px,
  '3': 12px,
  '4': 16px,
  '5': 20px,
  '6': 24px,
  '7': 28px,
  '8': 32px,
  '9': 36px,
  '10': 48px,
  '11': 96px,
  '12': 128px,
);

// FONTS
$font-poppins: 'Poppins', sans-serif;

// FONT WEIGHT
$font-weight: (
    '300': 300,
    '400': 400,
    '500': 500,
    '600': 600,
    '700': 700,
    '800': 800,
    '900': 900,
);

// FONT SIZE
$font-size: (
    '0': 12px,
    '1': 16px,
    '2': 20px,
    '3': 24px,
    '4': 32px,
    '5': 40px,
    '6': 48px,
    '7': 52px,
    '8': 64px,
);