// SWITCH BUTTON DARK MODE
.switch{
    width: 48px;
    height: 24px;
    display: flex;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 12px;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease;
    &::after {
        content: "";
        width: 16px;
        height: 16px;
        color: map-get($colors, '3');
        background-color: map-get($colors, 'white');
        display: block;
        position: absolute;
        top: 4px;
        left: unset;
        right: 0;
        margin-left: 4px;
        margin-right: 4px;
        border-radius: 50%;
        transition: all .5s ease;
    }
    &.active {
        transition: all .5s ease;
        background: rgba(148, 163, 184, 0.24);
        &::after {
            left: 0;
            right: unset;
            background-color: map-get($colors, '3');
            transition: all .5s ease;
        }
        
    }
    span {
        width: 16px;
        height: 16px;
        line-height: 16px;
        display: block;
        color: map-get($colors, '3');
        background: none;
    }
}

// PAGE DARK MODE
body.darkmode{
    background-color: #323740;
    transition: all .5s ease-in-out;
    &::-webkit-scrollbar  {
        background-color: rgba(13, 17, 23, 0.3);transition: all 1s ease-in-out;
    }
    &::-webkit-scrollbar-thumb {
        background-color: map-get($colors, 'white');
        border-radius:  map-get($spacing, '4');
        border: 2px solid rgba(148, 163, 184, 0.5);
        transition: all 1s ease-in-out;
    }
    main {
        width: 992px;
        margin: 0 auto;
        background-color: map-get($colors, 'bg-dark');
        transition: all .5s ease-in-out;
        @include media(mobileXL) {
            width: 375px;
        }
        @include media(mobileX) {
            width: 315px;
        }
        @include media(mobileS) {
            width: 295px;
        }
    }
    .info {
        box-shadow: -13px 1px 20px -9px rgba(30,41,59,0.25);
        @include media(mobileXL) {
            box-shadow: none;
        }
        @include media(mobileX) {
            box-shadow: none;
        }
        @include media(mobileS) {
            box-shadow: none;
        }
        &__name {
            h1 {
                color: map-get($colors, 'white');
                transition: all .5s ease-in-out;
            }
        }
        &__contact {
            &--svg {
                &--icon {
                    stroke: map-get($colors, 'white');
                    transition: all .4s ease-in-out;
                }
            }
        }
        &__social {
            div {
                &:hover {
                    background-color: map-get($colors, '14');
                }
            }
        }
    }

    .content{
        box-shadow: 13px 1px 20px -9px rgba(30,41,59,0.25);
        &__about-me {
            h2 {
                color: map-get($colors, 'white');
            }
        }
        &__abilities {
            h2 {
                color: map-get($colors, 'white');
            }
            &__wrapper {
                &--s-1 {
                    .box {
                        background-color: map-get($colors, '10');
                        transition: all .5s ease-in-out;
                        h3 {
                            color: map-get($colors, 'white');
                        }
                        .progress {
                            background-color: map-get($colors, '11');
                        }
                    }   
                }
                &--s-2 {
                    .box {
                        background-color: map-get($colors, '10');
                        transition: all .5s ease-in-out;
                        h3 {
                            color: map-get($colors, 'white');
                        }
                        .progress {
                            background-color: map-get($colors, '11');
                        }
                    }   
                }
                &--s-3 {
                    .box {
                        background-color: map-get($colors, '10');
                        transition: all .5s ease-in-out;
                        h3 {
                            color: map-get($colors, 'white');
                        }
                        .progress {
                            background-color: map-get($colors, '11');
                        }
                    }   
                }
                &--s-4 {
                    .box {
                        background-color: map-get($colors, '10');
                        transition: all .5s ease-in-out;
                        h3 {
                            color: map-get($colors, 'white');
                        }
                        .progress {
                            background-color: map-get($colors, '11');
                        }
                    }   
                }
            }
        }
        &__experience {
            h2 {
                color: map-get($colors, 'white');
            }
            &__wrapper {
                &--top {
                    p {
                        color: map-get($colors, 'white');
                    }
                    span {
                        background-color: rgba(255, 181, 127, 0.08);
                        transition: all .5s ease-in-out;
                    }
                    .f-time {
                        background-color: rgba(120, 197, 82, 0.08);
                        transition: all .5s ease-in-out;
                    }
                }
                &--charge {
                    span {
                        color: map-get($colors, 'white');
                    }
                }
            }
        }
        &__education {
            h2 {
                color: map-get($colors, 'white');
            }
            &__wrapper {
                &--top {
                    p {
                        color: map-get($colors, 'white');
                    }
                }
            }
        }
        &__extra {
            &--language {
                h2 {
                    color: map-get($colors, 'white');
                }
                div {
                    p {
                        color: map-get($colors, '9');
                        span {
                            color: map-get($colors, '8');
                        }
                    }
                }
            }
        }
    }

    .svg {
        fill: map-get($colors, 'white');
        transition: all .4s ease-in-out;
    }

    .back-top {
        background-color: map-get($colors, 'white');
        transition: all .3s ease-in-out;
        &:hover {
            box-shadow: 0px 0px 10px 4px rgba(255,255,255,0.28);
            transition: all .3s ease-in-out;
        }
    }

    .svg-float {
        fill: map-get($colors, '3');
        transition: all .3s ease-in-out;
    }
}
