// GRID DESKTOP
.grid {
    display: grid;
    grid-template-columns: 320px 672px;
    // GRID MOBILE XL
    @include media(mobileXL) {
        grid-template-columns: 375px;
    }
    @include media(mobileX) {
        grid-template-columns: 315px;
    }
    @include media(mobileS) {
        grid-template-columns: 295px;
    }
}